:root {
  --first-color: #6c63ff;
  --heading-font: "playfair Display", serif;
  --body-font: "poppins", sans-serif;
  --second-color: #f9f7fe;
}

body {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--body-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.first-box {
  background: var(--second-color);
  text-align: center;
  padding: 160px 20px;
}

.first-box p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.first-box h2 {
  font-family: var(--body-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--body-font);
}

.content h3 {
  font-size: 24px;
  font-family: var(--body-font);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  border-radius: 4px;
  background: var(--first-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-main {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  .first-box {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
